docs/
node_modules

.next/

.env
.env.local
.env*.local

/dev-data/*
/dev-library/*
/public/emulatorjs/

*.tsbuildinfo

*.gb
*.gba
*.gbc
*.z64
*.n64
*.v64
*.nes
*.gg
*.md
*.gen
*.bin
*.sms
*.sfc
*.smc
*.zip

.DS_Store